@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  color: #333333;
  display: flex;

  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;

  font-size: 18px;
  line-height: 21px;

  margin: 0;
  min-height: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
}

.page-header {
  color: black;
  font-weight: 700;
  margin-bottom: -5px;
  width: 1200px;
  z-index: 1;
}

.navigation {
  align-items: flex-start;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.logo-link {
  margin-right: 30px;
}

.logo-img {
  display: block;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-pages-wrapper {
  margin-right: auto;
  min-width: 390px;
}

.navigation-pages-wrapper .navigation-item {
  padding: 20px 17px;
}

.navigation-user {
  box-sizing: border-box;
  min-width: 104px;
  padding-left: 20px;
}

.navigation-user-wrapper {
  min-width: 42px;
}

.navigation-btn-wrapper {
  padding-bottom: 14px;
  padding-top: 14px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  color: black;
  display: block;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-search .navigation-link {
  background-image: url("../images/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 65px;
  min-width: 42px;
}

.navigation-favorite .navigation-link {
  background-image: url("../images/favorite.svg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 65px;
  min-width: 42px;
}

.navigation-favorite-circle {
  align-items: center;
  background: #7DB54F;
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 24px;
  position: absolute;
  top: 15px;
  width: 20px;
}

.navigation-favorite-value {
  color: white;
  font-size: 10px;
  line-height: 13px;
}

.navigation-page-current::before {
  background-color: #756257;
  bottom: 0;
  content: "";
  height: 2px;
  left: 17px;
  position: absolute;
  right: 17px;
}


.welcome-wrapper {
  background-color: #000000;
  background-image: url("../images/welcome-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 82px;
  padding-top: 51px;
  position: relative;
}

.welcome-wrapper::before {
  background-image: url("../images/welcome-wave.svg");
  bottom: 0;
  content: "";
  height: 57px;
  left: 0;
  position: absolute;
  right: 0;
}

.welcome-img {
  align-items: flex-start;
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 63px;
}

.advantages-title-wrapper {
  padding-left: 70px;
  padding-right: 70px;
}

.advantages-title {
  color: black;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto 31px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 90px;
  text-align: center;
}

.advantages-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-description-wrapper {
  background: #82B3D3;
  box-sizing: border-box;
  color: #FFFFFF;
  min-height: 384px;
  min-width: 400px;
  padding: 92px 85px;
}

.advantages-description-wrapper :last-child {
  margin-bottom: 0;
}

.advantages-item-wrapper {
  background-color: #82B3D3;
  display: flex;
}

.advantages-item-size {
  box-sizing: border-box;
  min-height: 384px;
  width: 400px;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 0;
  text-transform: uppercase;
}

.advantages-number {
  display: block;
  margin-bottom: 30px;
}

.advantages-item-description {
  margin-bottom: 30px;
  margin-top: 0;
}

.advantages-city-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.advantages-city-item {
  padding: 182px 85px 80px;
}

.advantages-city-item :last-child {
  margin-bottom: 0;
}

.advantages-city-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 0;
  text-transform: uppercase;
}

.advantages-city-description {
  margin-bottom: 30px;
  margin-top: 0;
}

.advantages-item-canyon {
  padding: 103px 85px 102px;
}

.advantages-item-canyon :last-child {
  margin-bottom: 0;
}

.advantages-background-grey {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-background-darkgrey {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-logo-house {
  background-image: url("../images/advantages-logo-house.svg");
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  min-height: 72px;
  min-width: 75px;
}

.advantages-logo-burger {
  background-image: url("../images/advantages-logo-burger.svg");
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  min-height: 72px;
  min-width: 75px;
}

.advantages-logo-present {
  background-image: url("../images/advantages-logo-present.svg");
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  min-height: 72px;
  min-width: 75px;
}

.search-hotel {
  padding-bottom: 93px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 91px;
}

.search-hotel-title {
  color: black;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 29px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel-description {
  display: block;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 56px;
  max-width: 592px;
  text-align: center;
}

.newsletter {
  background: url("../images/subscribe-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 94px 0;
}

.newsletter-title {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 29px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;

}

.newsletter-description {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 46px;
  margin-top: 0;
  text-align: center;
}

.page-footer {
  width: 1200px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-form-email {
  margin: auto 0;
}

.newsletter-form-email-field {
  border-radius: 10px 0px 0px 10px;
  border-width: 0;
  box-sizing: border-box;
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 21px;
  min-height: 60px;
  min-width: 600px;
  padding: 20px 22px 19px 22px;
}

.page-footer-container {
  align-items: flex-start;
  display: flex;
  padding: 40px 70px 30px;
}

.footer-social {
  margin-right: 41.5px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 142px;
}

.footer-social-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  min-height: 40px;
  padding-left: 0;
}

.footer-social-item {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 40px;
  min-width: 47px;
}

.social-icon {
  fill: #83B3D3;
}

.footer-social-link:hover .social-icon {
  fill: #68A2CA;

}

.footer-social-link:focus {
  outline: none;
}

.footer-social-link:focus .social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  margin-right: 42px;
  text-align: center;
}

.footer-contacts-title {
  margin: 0;
}

.footer-contacts-address {
  padding: 5px 194px 0;
}

.footer-contacts-address-phone {
  color: #000000;
  display: block;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-html-academy {
  padding-top: 9px;
}

.footer-logo-html-academy-link {
  display: block;
  min-height: 34px;
  min-width: 115px;
}

.logo-html-academy-img {
  fill: black;
}

.footer-logo-html-academy-link:hover .logo-html-academy-img {
  fill: #756157;
}

.footer-logo-html-academy-link:focus {
  outline: none;
}

.footer-logo-html-academy-link:focus .logo-html-academy-img {
  fill: #756157;
}

.footer-logo-html-academy-link:active .logo-html-academy-img {
  fill: rgba(117, 97, 87, 0.3);
  ;
}

.modal-container {
  background: rgba(242, 242, 242, 0.8);
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.modal {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  margin: auto;
  min-width: 715px;
  padding: 62px 70px 70px;
  position: relative;
}

.modal-close-button {
  background: #F2F2F2;
  background-image: url("../images/cross-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 53px;
  padding: 0;
  position: absolute;
  right: 70px;
  top: 54px;
  width: 53px;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.3;
  outline: none;
}

.modal-title {
  color: #000000;
  font-family: 'PT Sans';
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 63px;
  margin-right: 73px;
  margin-top: 0;
  text-transform: uppercase;
}

.modal-search-form {
  display: flex;
  flex-direction: column;
}

.modal-search-label {
  align-items: center;
  display: flex;
  justify-content:space-between;
}

.modal-search-adults {
  min-width: 288px;
}

.modal-search-description {
  display: block;
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: auto;
  padding-right: 30px;
}

.search-result-wrong {
  color: #FF5757;
}

.modal-search-input {
  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.modal-search-date {
  box-sizing: border-box;
  height: 50px;
  min-width: 420px;
  padding: 15px 19px 14px;
}

.modal-search-date:hover {
  background: #E6E6E6;
}

.modal-search-date:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-search-date:active {
  background: #FFFFFF;
  outline: 2px solid #000000;
}

.modal-search-result {
  font-size: 16px;
  margin-bottom: 11px;
  margin-left: auto;
  margin-top: 8px;
  width: 420px;
}

.modal-search-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.modal-search-wrapper .modal-search-label:not(:last-child) {
  margin-right: 56px;
}

.adults-description {
  margin-right: auto;
}

.children-description {
  margin-right: 19px;
}

.modal-search-counter {
  box-sizing: border-box;
  min-height: 50px;
  outline: none;
  padding: 14px 42px;
  text-align: center;
  width: 133px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-input-wrapper {
  position: relative;
}

.button-counter {
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
  outline: none;
  padding: 0;
  position: absolute;
  width: 25px;
}

.button-counter-svg {
  opacity: 0.3;
}

.button-counter:hover .button-counter-svg {
  opacity: 1;
}

.button-counter:focus .button-counter-svg {
  opacity: 1;
}

.button-counter:focus {
  border: 3px solid #83B3D3;
}

.button-counter:active .button-counter-svg {
  opacity: 0.2;
}

.button-plus {
  right: 13px;
  top: 12px;
}

.button-minus {
  left: 13px;
  top: 12px;
}

.tooltip {
  height: 25px;
  position: absolute;
  right:18px;
  top: 2px;
  width:25px;

}

.tooltip-wrapper {
  position: relative;
}

.tooltip-btn {
  background: #83B3D3;
  border: none;
  border-radius: 50%;
  display: block;
  height: 25px;
  margin: 0 auto 6px;
  padding: 0;
  width: 25px;
}

.tooltip-btn:hover {
  background: #68A2CA;
}

.tooltip-btn:hover + .tooltip-text-wrapper,
.tooltip-btn:focus + .tooltip-text-wrapper {
  display: block;
}

.tooltip-text-wrapper {
  background-image: url("../images/tool-tip-decor.svg");
  background-position-x: center;
  background-repeat: no-repeat;
  display: none;
  left:-115px;
  padding-top: 9px;
  position: absolute;
}

.tooltip-text {
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding: 15px 18px 23px 22px;
  width: 256px;
}

.filter-wrapper {
  background: url("../images/filter-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #FFFFFF;
}

.catalog-hotels-filter-content {
  padding: 35px 70px 70px 70px;
}

.catalog-header {
  margin-bottom: 40px;
}

.catalog-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 10px;
  margin-top: 0;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 2px;
}

.breadcrumbs-item:not(:first-child) {
  background-image: url("../images/filter-arrow.svg");
  background-position-x: 10px;
  background-position-y: center;
  background-repeat: no-repeat;
  min-height: 12px;
  min-width: 12px;
  padding-left: 25px;
}

.breadcrumbs-list :last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.breadcrumbs-icon {
  fill: #FFFFFF;
}

.breadcrumbs-link:hover .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
  ;
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  align-items: flex-start;
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-infrastructure {
  margin-right: 70px;
}

.catalog-filter-type {
  margin-right: auto;
}

.control {
  display: block;
  position: relative;
}

.control-label {
  padding-left: 40px;
}

.control-input[type="checkbox"]+.control-mark {
  background: #FFFFFF;
  border-radius: 4px;
  height: 20px;
  position: absolute;
  width: 20px;
}

.control-input[type="checkbox"]:checked+.control-mark:before {
  background-image: url("../images/check-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 20px;
  position: absolute;
  width: 20px;
}

.control-input[type="checkbox"]:hover+.control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus+.control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:disabled+.control-mark {
  background: rgba(255, 255, 255, 0);
}

.control-input[type="radio"]+.control-mark {
  background: #FFFFFF;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.control-input[type="radio"]:checked+.control-mark:before {
  background: #3F5E72;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 10px;
}

.control-input[type="radio"]:focus+.control-mark {
  outline: 3px solid #83B3D3;
}

.catalog-filter-slider {
  margin-right: 73px;
}

.range-scale {
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  position: relative;
}

.range-input-wrapper {
  display: flex;
  margin-bottom: 28px;
  padding-top: 4px;
  width: 288px;
}

.range-input-label {
  position: relative;
}

.range-input {
  background: none;
  border-color: #FFFFFF;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  max-width: 144px;
  padding: 12px 31px 11px 18px;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  box-shadow: 0px 0px 0px 3px #81B3D2;
  outline-color: #81B3D2;
  outline-width: 3px;
}

.range-input:active {
  background: #756257;
  border-color: #FFFFFF;
  box-shadow: none;
  outline: none;
}

.range-input-description {
  color: #FFFFFF;
  opacity: 0.3;
  position: absolute;
  right: 14px;
  top: 12px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-min-price {
  border-radius: 4px 0 0 4px;
  border-right-width: 1px;
  border-style: solid;
}

.range-max-price {
  border-left-width: 1px;
  border-radius: 0 4px 4px 0;
  border-style: solid;
}

.range-bar {
  background: #FFFFFF;
  height: 4px;
  position: absolute;
}

.range-toggle {
  background: #FFFFFF;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  height: 20px;
  position: absolute;
  width: 20px;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83B3D3;
}

.toggle-min {
  left: -10px;
  top: -8px;
}

.toggle-max {
  left: 208px;
  top: -8px;
}

.catalog-filter-btn-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.catalog-hotel-sort {
  padding: 55px 71px 25px 73px;
}

.catalog-hotel-sort-title {
  margin: 0;
}

.hotel-counter-description {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0;
  text-transform: uppercase;
}

.hotel-counter-value {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.catalog-sort-wrapper {
  align-items: center;
  display: flex;
  margin-bottom: 56px;
}

.select-control {
  appearance: none;
  background-image: url("../images/select-arrow.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 21px;
  margin-right: 78px;
  min-width: 290px;
  padding: 12px 18px;
}

.select-control option {
  padding: 0;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.cards-view-wrapper {
  display: flex;
}

.cards-view-wrapper :last-child {
  margin-right: 0;
}

.cards-view {
  align-items: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-right: 8px;
  min-height: 48px;
  min-width: 48px;
}

.cards-view:hover {
  border: 2px solid #000000;
}

.cards-view:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.cards-view:active {
  border: 2px solid #000000;
}

.cards-view-current {
  border: 2px solid #000000;
}

.hotel-list {
  display: grid;
  gap: 0 18px;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin-bottom: 96px;
  margin-top: 0;
  padding-left: 0;
}

.hotel-card {
  display: grid;
  gap: 16px 20px;
  grid-template-columns: 140px 140px;
  padding: 20px;
}

.hotel-card-img-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-img {
  display: block;
}

.hotel-card-title-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.hotel-card-more {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.rating-description {
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 9px 22px 8px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-pagination-wrapper {
  align-items: center;
  display: flex;
  position: relative;
}

.catalog-pagination-wrapper::before {
  background-color: #E6E6E6;
  bottom: 90px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}

.pagination {
  align-items: center;
  align-items: flex-start;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  list-style-type: none;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-view-description {
  margin-bottom: 0;
  margin-right: 51px;
  margin-top: 0;
  padding-bottom: 17px;
  padding-top: 20px;
}

.pagination-link {
  background-color: #82B3D3;
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  min-height: 60px;
  min-width: 60px;
  padding: 11px 12px 12px 12px;
  text-decoration: none;
}

.pagination-link:active:not(.pagination-current) {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus {
outline: none;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-view-select {
  appearance: none;
  background-image: url("../images/select-arrow.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 21px;
  max-height: 49px;
  min-width: 160px;
  padding: 12px 18px;
}

.newsletter-dark {
  background: none;
}

.newsletter-dark .newsletter-title {
  color: #000000;
}

.newsletter-dark .newsletter-description {
  color: #000000;
}

.newsletter-dark .newsletter-form-email-field {
  background: #F2F2F2;
}


.btn {
  align-items: center;
  border-radius: 4px;
  border-width: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.navigation-btn {
  font-size: 16px;
  line-height: 20px;
  min-width: 160px;
  padding: 9px 15px 8px;
}

.search-hotel-btn {
  display: block;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
  min-height: 60px;
  min-width: 574px;
  padding: 12px 15px;
}

.newsletter-btn {
  border: 0;
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  line-height: 36px;
  min-height: 60px;
  min-width: 200px;
  padding: 12px 15px;
}

.hotel-card-btn {
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;
}

.btn-brown {
  background: #756157;
}

.btn-brown:hover {
  background: #615048;
}

.btn-brown:focus {
  background: #615048;
  outline: none;
}

.btn-brown:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.btn-brown:disabled {
  background: #E5E5E5;
}

.btn-blue {
  background: #82B3D3;
}

.btn-blue:hover {
  background: #68A2CA;
}

.btn-blue:focus {
  background: #68A2CA;
  outline: none;
}

.btn-blue:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.btn-blue:disabled {
  background: #E5E5E5;
}

.catalog-filter-btn {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  min-width: 160px;
  padding: 14px 15px;
}

.btn-reset {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}

.btn-reset:hover {
  opacity: 0.6;
}

.btn-reset:focus {
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}

.btn-reset:active {
  border: none;
  opacity: 0.3;
}

.hotel-card-more {
  padding: 9px 15px 8px;
}

.hotel-card-favorites-btn {
  background: #7DB54F;
}

.btn-green:hover {
  background: #6C9E42;
}

.btn-green:focus {
  background: #6C9E42;
  outline: none;
}

.btn-green:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.btn-green:disabled {
  background: #E5E5E5;
}

.btn-modal-search {
  border-radius: 10px;
  flex-grow: 1;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 26px;
}

.btn-modal-search:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.btn-modal-search:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
