@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;

  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;


  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  font-weight: 700;
  color: black;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo-link {
  width: 139px;
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 390px;
}

.navigation-user {
  width: 264px;
  margin-right: 40px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
}

.welcome-wrapper {
  background-image: url("../images/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.advantages h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.advantages p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item-wrapper {
  background: #82B3D3;
  color: #FFFFFF;
}

.advantages-item {}

.advantages-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-city-list {
  display: block;
  margin: 0 auto;
}

.advantages-city-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-background-grey {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-background-darkgrey {
  background: rgba(131, 179, 211, 0.2);
}

.search-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.search-hotel-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter {
  background: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  height:411px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.page-footer{
  width: 1200px;
  margin: 0 auto;
}

.newsletter-form {
  display:flex;
}

.newsletter-form-email {
  margin:0;
}

.newsletter-form-email-field {
width:600px;
border:0;
height:60px;
padding:0;
}

.page-footer-container {
display:flex;
}

.footer-social {
  width:116px;
  margin-left:72px;
  margin-right:52px;
}

.footer-contacts {
  width:720px;
  text-align: center;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-logo-html-academy {
  width:115px;
  margin-right:72px;
  margin-left:auto;
}

.filter-wrapper {
  color: #FFFFFF;
  background: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.hotel-counter-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-counter-value {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-more {
  text-decoration: none;
}

.rating-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}





.btn {
  font-weight: 700;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
}

.navigation-btn {
  font-size: 16px;
  line-height: 20px;
}

.search-hotel-btn {
  font-size: 20px;
  line-height: 36px;
}

.newsletter-btn {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0px 10px 10px 0px;
  height:60px;
  width:200px;
  border:0;
  padding:0;
}

.btn-brown {
  background: #756157;
}

.btn-blue {
  background: #82B3D3;
}


