@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;

  margin: 0;
  display: flex;

  flex-direction: column;
  min-height: 100%;

  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
}

.page-header {
  font-weight: 700;
  color: black;
  width: 1200px;
  margin-bottom: -5px;
}

.navigation {
  display: flex;
  align-items: flex-start;
  padding-left: 70px;
  padding-right: 70px;
}

.logo-link {
  position: relative;
  margin-right: 30px;
}

.logo-img {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-pages-wrapper {
  min-width: 390px;
  margin-right: auto;
}

.navigation-pages-wrapper .navigation-item {
  padding: 20px 17px;
}

.navigation-user {
  padding-left: 30px;
}

.navigation-user-wrapper {
  min-width: 42px;
}

.navigation-btn-wrapper {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
}

.navigation-search .navigation-link {
  background-image: url("../images/search.svg");
  min-height: 65px;
  min-width: 42px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-favorite .navigation-link {
  background-image: url("../images/favorite.svg");
  min-height: 65px;
  min-width: 42px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-page-current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}


.welcome-wrapper {
  background-image: url("../images/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-img {
  display: block;
  margin: 0 auto;
  align-items: flex-start;
}

.advantages {
  padding-top: 63px;
}

.advantages-title-wrapper {
  padding-left: 70px;
  padding-right: 70px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 31px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 90px;
}

.advantages-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-description-wrapper {
  background: #82B3D3;
  color: #FFFFFF;
  min-width: 400px;
  min-height: 384px;
  padding: 92px 85px;
  box-sizing: border-box;
}

.advantages-description-wrapper :last-child {
  margin-bottom: 0;
}

.advantages-item-wrapper {
  display: flex;
  background-color: #82B3D3;
}

.advantages-item-size {
  box-sizing: border-box;
  max-width: 400px;
  min-height: 384px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-number {
  display: block;
  margin-bottom: 30px;
}

.advantages-item-description {
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-city-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-city-item {
  padding: 182px 85px 80px;
}

.advantages-city-item :last-child {
  margin-bottom: 0;
}

.advantages-city-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-city-description {
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-item-canyon {
  padding: 103px 85px 102px;
}

.advantages-item-canyon :last-child {
  margin-bottom: 0;
}

.advantages-background-grey {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-background-darkgrey {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-logo-house {
  background-image: url("../images/advantages-logo-house.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 80px;
  min-width: 75px;
  min-height: 72px;
}

.advantages-logo-burger {
  background-image: url("../images/advantages-logo-burger.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 80px;
  min-width: 75px;
  min-height: 72px;
}

.advantages-logo-present {
  background-image: url("../images/advantages-logo-present.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 80px;
  min-width: 75px;
  min-height: 72px;
}

.search-hotel {
  padding-top: 91px;
  padding-bottom: 93px;
  padding-left: 70px;
  padding-right: 70px;
}

.search-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-bottom: 29px;
  margin-top: 0;
}

.search-hotel-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 56px;
}

.newsletter {
  background: url("../images/subscribe-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #000000;
  padding: 94px 200px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 29px;

}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 46px;
}

.page-footer {
  width: 1200px;
}

.newsletter-form {
  display: flex;
  align-items: flex-start;
}

.newsletter-form-email {
  margin: 0;
}

.newsletter-form-email-field {
  box-sizing: border-box;
  min-width: 600px;
  min-height: 60px;
  padding: 20px 22px 19px 22px;
  border-width: 0;
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  line-height: 21px;
}

.page-footer-container {
  display: flex;
  align-items: flex-start;
  padding: 40px 70px 30px;
}

.footer-social {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 41.5px;
  width: 142px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: flex-start;
  padding-left: 0;
  margin: 0;
  min-height: 40px;
}

.footer-social-item {
  display: flex;
  min-width: 47px;
  min-height: 40px;
  justify-content: center;
  align-items: center;
}

.footer-contacts {
  text-align: center;
  min-width: 720px;
  margin-right: 41.5px;
}

.footer-contacts-title {
  margin: 0;
}

.footer-contacts-address {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
}

.footer-contacts-address-phone {
  display: block;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-logo-html-academy {
  padding-top: 9px;
}

.footer-logo-html-academy-link {
  display: block;
  min-width: 115px;
  min-height: 34px;
}

.filter-wrapper {
  color: #FFFFFF;
  background: url("../images/filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #000000;
}

.catalog-hotels-filter-content {
  padding: 35px 70px 70px 70px;
}

.catalog-header {
  margin-bottom: 40px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.breadcrumbs-item:not(:first-child) {
  min-height: 12px;
  min-width: 12px;
  padding-left: 25px;
  background-image: url("../images/filter-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
}

.breadcrumbs-list :last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  box-sizing: border-box;
}

.catalog-filter {
  display: flex;
  align-items: flex-start;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-infrastructure {
  margin-right: 70px;
}

.catalog-filter-type {
  margin-right: auto;
}

.control-input {
  margin: 0 19px 0 0;
  height: 20px;
  width: 20px;
}

.catalog-filter-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.catalog-hotel-sort {
  padding: 55px 71px 25px 73px;
}

.catalog-hotel-sort-title {
  margin: 0;
}

.hotel-counter-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
}

.hotel-counter-value {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.catalog-sort-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.select-control {
  margin-right: 78px;
  padding: 12px 18px;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  min-width: 290px;
}

.cards-view-wrapper {
  display: flex;
}

.cards-view-wrapper :last-child {
  margin-right: 0;
}

.cards-view {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 48px;
  min-width: 48px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.cards-view-current {
  border: 2px solid #000000;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 0 18px;
  margin-top: 0;
  margin-bottom: 96px;
  padding-left: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  padding: 20px;
  gap: 16px 20px;
}

.hotel-card-img-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.hotel-card-img {
  display: block;
}

.hotel-card-title-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotel-card-more {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.rating-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-pagination-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.catalog-pagination-wrapper::before {
    position: absolute;
    right: 0;
    bottom: 90px;
    left: 0;
    height: 1px;
    background-color: #E6E6E6;
    content: "";
  }

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-view-description {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 51px;
  padding-top: 20px;
  padding-bottom: 17px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 12px 12px 12px;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-view-select {
  min-width: 160px;
  max-height: 49px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.newsletter-dark {
  background: none;
}

.newsletter-dark .newsletter-title {
  color: #000000;
}

.newsletter-dark .newsletter-description {
  color: #000000;
}

.newsletter-dark .newsletter-form-email-field {
  background: #F2F2F2;
}


.btn {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
}

.navigation-btn {
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;
  min-width: 160px;
}

.search-hotel-btn {
  display: block;
  font-size: 20px;
  line-height: 36px;
  min-width: 574px;
  min-height: 60px;
  padding: 12px 15px;
  margin: 0 auto;
}

.newsletter-btn {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0px 10px 10px 0px;
  min-height: 60px;
  min-width: 200px;
  border: 0;
  padding: 12px 15px;
}

.hotel-card-btn {
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;
}

.btn-brown {
  background: #756157;
}

.btn-blue {
  background: #82B3D3;
}

.catalog-filter-btn {
  margin-bottom: 20px;
  padding: 14px 15px;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
}

.btn-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0);
}

.hotel-card-more {
  padding: 9px 15px 8px;
}

.hotel-card-favorites-btn {
  background: #7DB54F;
}

.rating-description {
  margin: 0;
  padding: 9px 22px;
}
